main {
  padding: 0 1rem;
}
.artigos__destaque h2, .artigos__antigos h2 {
  font-size: 48pt;
  margin: 1.5rem 0;
  font-family: 'Ropa Sans', sans-serif;
  display: flex;
  align-items: center;
}
.artigos__destaque h2::after, .artigos__antigos h2::after {
  content: '';
  flex: 1;
  height: 1px;
  border-bottom: 1px solid #000;
  display: inline-block;
  margin-left: 0.5rem;
}

@media (min-width: 1024px) {
  main {
    padding: 0 10rem;
  }
}